<div class="container">
    <div class="row">
        <div class="col">
            <h1>Requests: </h1>

            <ul>
                {{#each links}}
                    <li><a href="{{this.href}}">{{this.name}}</a></li>
                {{/each}}
            </ul>

        </div>
        <div class="col">
            <ul id="requests"></ul>
        </div>
    </div>
</div>

<script>
    var socket = io();
    var messages = document.getElementById('requests');

    const queryString = window.location.search
    const urlParams = new URLSearchParams(queryString);
    const event = urlParams.get('event')
            ? urlParams.get('event')
            : 'request';

    socket.on(event, function (dump) {
        var code = document.createElement('code');
        code.textContent = JSON.stringify(dump,undefined, 4);
        var item = document.createElement('pre');
        item.appendChild(code);
        messages.appendChild(item);
        messages.appendChild(document.createElement('hr'));
        window.scrollTo(0, document.body.scrollHeight);
    });

    socket.on('connect_error', (error) => {
        alert('Connection to monitoring server is closed - please reload this page.')
    });
</script>
